$lima: #7ED321;
$christi: #65BA08;
$buttercup: #F5A623;
$gamboge: #DC8D0A;
$french-rose: #F0567A;
$cabaret: #D73D61;
$mystic: #E6EDEF;
$geyser: #D6E1E4;
$white: #FFFFFF;
$timber-green: #1C2E36;
$timber-green-transparent: rgba(28, 46, 54, 0.1);
